
<h3>ورقه‌رای بررسی‌شده شما</h3>

<p>
<b><u>مهم</u></b>: این ورقه‌رای، حال که بررسی‌شده است، <em> شمارش نخواهد شد</em><br />
برای ارائه یک ورقه‌رای، شما باید بر روی کلید «بازگشت به رای‌دادن» در زیر کلیک کنید، مجدداً رمز‌کنید و «ارائه» را به جای «بررسی» انتخاب کنید.
</p>

<p>
<b>چرا؟></b> هلیوس از ارسال ورقه‌رای بررسی شما جلوگیری می‌کند. دلیل این کار محافظت از شما در برابر تهدید و اجبار است.
</p>

<p>
<b>حال؟</b> <a onclick="$('#audit_trail').select(); return false;" href="#">اطلاعات بررسی روقه‌رایتان را انتخاب کنید</a>، و نسخه‌برداری(کپی) کنید و سپس در<a target="_blank" href="single-ballot-verify.html?election_url={$T.election_url}">تاییدکننده ورقه‌رای</a> برای تایید استفاده کنید.<br />
زمانی که راضی شدید، بر روی کلید «بازگشت به رای‌دادن» کلیک کنید و ورقه‌رایتان را مجدداً رمز و ارسال کنید.
</p>

<form action="#">
<textarea name="audit_trail" id="audit_trail" cols="80" rows="10" wrap="soft">
{$T.audit_trail}
</textarea>
<br /><br />
قبل از بازگشت به عملیات رای‌دادن،<br />
شما می‌توانید این ورقه‌رای بررسی شده را در مرکز ردیابی هلیوس قرار دهید تا دیگران بتوانند مجدداً تاییدیه این ورقه‌رای را بررسی کنند.
<br /><br />
<b> حتی در صورتی که شما ورقه بررسی شده را ارسال کنید، میبایست بازگردید و از کلید «ارائه» برای به احتساب درآمدن رای‌تان استفاده کنید. </b>
<br /><br />
<input type="button" value="بازگشت به رای‌دادن" onclick="BOOTH.reset_ciphertexts();BOOTH.seal_ballot();" class="pretty" />
&nbsp; &nbsp;&nbsp;
<input type="button" value="قرار دادن ورقه‌رای بررسی‌شده در مرکز ردیابی هلیوس" onclick="$(this).attr('disabled', 'disabled');BOOTH.post_audited_ballot();" id="post_audited_ballot_button" class="pretty" style="font-size:0.8em;"/>

</form>




