
<div id="questions_div">
<p>
    برای ارائه یک رأی، شما باید مراحل زیر را پشت بگذارید. <br />
اگر شما هنوز وارد نشده‌اید، در آخر روند از شما درخواست می‌شود که وارد شوید.
<p>
    
<ol>
    <li> گزینه مورد نظر خود را <b>انتخاب کنید.</b><br />
<span style="font-size: 14pt;">شما به راحتی می‌توانید به جلو و عقب بروید.</span></li>
<br />

    <li> انتخاب‌تان را <b>بررسی و تأیید کنید.</b> <br />
<span style="font-size: 14pt;">
  انتخاب شما به صورت امنی در داخل مرورگر شما رمز می‌شود، و شما شماره ردیابی هوشمند ورقه‌رای‌تان را دریافت می‌کنید. <br />
</span>
</li>
<br />

    <li> ورقه‌رای رمز‌شده خود را <b>ثبت کنید</b>.<br />
<span style="font-size: 14pt;">
از شما به منظور ارسال ورقه‌رای رمز‌شده‌‌تان برای شمارش درخواست ورود می‌شود.
</span>
</li>
</ol>

<div align="center"><button onclick="BOOTH.show_question(0);">شروع</button></div>
</div>

