{% extends TEMPLATE_BASE %}

{% block content %}
<h1>چرا ما به اطلاعات شما نیازمندیم</h1>

<p>
به نظر می‌رسد شما درخواست ما مبنی بر دسترسی به اطلاعاتتان را منع کرده‌اید. ما متوجه
 ارزش حریم خصوصی شما هستیم. درخواست این اطلاعات به دلیل این است که بتوانیم با شما
 به وسیله شماره ردیابی زمانی که یک انتخابات که شما در آن شرکت کرده‌اید شمارش شد در
 تماس باشیم. ما این قول را خواهیم داد که از این اطلاعات در جهت مقاصد دیگری استفاده نشود.
 بدون این اطلاعات، متأسفانه امکان این وجود ندارد که به شما در رای‌دهی کمک کنیم.
</p>

<form method="POST" action="">
<input type="hidden" value="{{csrf_token}}" />
<input type="submit" value="بسیارخوب، متوجه شدم، وارد می‌شوم" /><br /><br />
<a href="http://google.com">خیر، مرا از این مکان خارج کن</a>.
</form>

{% endblock %}
