{% extends TEMPLATE_BASE %}

{% block title %}کوکی‌ها برای استفاده از هلیوس لازم هستند{% endblock %}

{% block content %}
  <h2 class="title">کوکی‌ها برای استفاده از هلیوس لازم هستند.</h2>

<p>
به نظر می‌رسد مرورگر شما کوکی را پشتیبانی نمی‌کند یا به صورت تنظیم شده‌است که کوکی‌ها را از این سایت استفاده نکند. هلیوس برای اجرای یک نشست به کوکی نیاز دارد تا بتواند رأی شما را ذخیره کند، اجازه دهد شما وارد شوید و … . کوکی‌ها را فعال کنید و سپس <a href="{{retest_url}}">کلیک کنید تا ورقه‌رای را مهیا کنید.</a>
</p>
<p>
اگر شما همچنان به این صفحه منتقل می‌شوید، احتمالاً به این دلیل است که با موفقیت کوکی‌ها را فعال نکرده‌اید.
</p>
{% endblock %}
