{% extends TEMPLATE_BASE %}

{% block title %}رای‌دهندگان &amp; مرکز ردیابی ورقه‌رای برای {{election.name}}{% endblock %}
{% block content %}
  <h3 class="title">{{election.name}} &mdash; مرکز ردیابی ورقه‌رای و رای‌دهندگان <span style="font-size:0.7em;">[<a href="{% url "helios.views.one_election_view" election.uuid %}">بازگشت به انتخابات</a>]</span></h3>

<p>
<b>چه کسی می‌توانید رای دهد؟</b>
{% if election.openreg %}
{{election.pretty_eligibility|safe}}
{% else %}
<em>فقط رای‌دهندگان اینجا لیست می‌شوند</em>.
{% endif %}
</p>

{% if admin_p and not election.frozen_at %}
{% if election.private_p %}
<em>انتخابات شما به عنوان خصوصی مشخص شده‌است، که بدین معنی‌است شما نمی‌توانید ثبت‌نام را به صورت گسترده باز کنید.</em></br>
{% else %}
شما می‌توانید تنظیمات را تغییر دهید:
<form method="post" action="{% url "helios.views.voters_eligibility" election.uuid %}">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<input type="radio" name="eligibility" value="openreg" {% if election.openreg and not election.eligibility %}CHECKED{% endif %} /> هرفرد بتواند رای‌دهد<br />
<input type="radio" name="eligibility" value="closedreg" {% if not election.openreg %}CHECKED{% endif %} /> تنها رای‌دهندگانی که مشخص شده‌اند امکان شرکت داشته باشند<br />
{% if categories %}
<input type="radio" name="eligibility" value="limitedreg" {% if election.eligibility %}CHECKED{% endif %} /> تنها رای‌دهندگانی که عضو موارد زیر هستند:  
<select name="category_id">
{% for category in categories %}
<option value="{{category.id}}" {% if eligibility_category_id == category.id %}SELECTED{% endif %}> {{category.name}}</option>
{% endfor %}
</select>
<br />
{% endif %}
<input type="submit" value="به‌روزرسانی" />
</form>
{% endif %}
{% endif %}

{% if email_voters and election.frozen_at and admin_p %}
<p><a class="button" href="{% url "helios.views.voters_email" election.uuid %}">ارسال ایمیل به رای‌دهندگان</a></p>
{% endif %}

{% if election.num_voters > 20 %}
<p>
{% if q %}
<p><em>جستجو برای<u>{{q}}</u>.</em> [<a href="?">پاک‌کردن جستجو</a>]</p>
{% else %}
<form method="get" action="{% url "helios.views.voters_list_pretty" election.uuid %}"><b>search</b>: <input type="text" name="q" /> <input type="submit" value="جستجو" /></form>
{% endif %}
</p>
{% endif %}

{% if admin_p %}
<!-- Add a Voter: WORK HERE-->
{% if upload_p and not election.openreg %}
<p>
<a class="button" href="{% url "helios.views.voters_upload" election_uuid=election.uuid %}">بارگزاری یکباره رای‌دهندگان</a>
</p>

{% if voter_files %}
بارگزاری یکباره قبلی:
<ul>
{% for vf in voter_files %}
<li>
{% if vf.voter_file %}
{{vf.voter_file.size}}
{% else %}
{{vf.voter_file_content|length}}
{% endif %}
 bytes, at {{vf.uploaded_at}}:
{% if vf.processing_finished_at %}
<em> انجام شد: {{vf.num_voters}} رای‌دهنده بارگزاری شدند </em>
{% else %}

{% if vf.processing_started_at %}
<em>در حال پردازش</em>
{% else %}
<em>هنوز پردازش نشده‌است</em>
{% endif %}

{% endif %}
</li>
{% endfor %}
</ul>
{% endif %}
{% endif %}
{% endif %}

{% if voters %}

<p>
<b>
{% if election.num_cast_votes %}
{{election.num_cast_votes}} ارائه رای{% ifequal election.num_cast_votes 1 %}{% else %}s{% endifequal %}
{% else %}
هیچ رای‌ی وجود ندارد
{% endif %}
</b>
</p>

{% if voters_page.has_previous %}
<a href="./list?page={{voters_page.previous_page_number}}&limit={{limit}}&q={{q|urlencode}}">قبل {{limit}}</a> &nbsp;&nbsp;
{% endif %}


رای‌دهنده {{voters_page.start_index}} - {{voters_page.end_index}} (of {{total_voters}})&nbsp;&nbsp;

{% if voters_page.has_next %}
<a href="./list?page={{voters_page.next_page_number}}&limit={{limit}}&q={{q|urlencode}}">بعد {{limit}}</a> &nbsp;&nbsp;
{% endif %}

<table class="pretty">
<tr>
{% if admin_p or not election.use_voter_aliases %}
<th>نام</th>
{% endif %}

{% if election.use_voter_aliases %}
<th>نام‌مستعار</th>
{% endif %}
<th>شماره ردیابی ورقه‌رای هوشمند</th>
</tr>
{% for voter in voters %}
<tr>
{% if admin_p or not election.use_voter_aliases %}
<td>
{% if admin_p %}
[<a href="{% url "helios.views.voters_email" election.uuid %}?voter_id={{voter.voter_login_id}}">پست‌الکترونیک</a>]
[<a onclick="return confirm('آیا مطمئن هستید که می‌خواهید {{voter.name}} را حذف کنید؟');" href="{% url "helios.views.voter_delete" election.uuid voter.uuid %}">x</a>]
{% endif %}
<img class="small-logo" src="/static/auth/login-icons/{{voter.voter_type}}.png" alt="{{voter.voter_type}}" /> {{voter.name}}</td>
{% endif %}
{% if election.use_voter_aliases %}
<td>{{voter.alias}}</td>
{% endif %}
<td><tt style="font-size: 1.4em;;">{% if voter.vote_hash %}{{voter.vote_hash}} <span style="font-size:0.8em;">[<a href="{% url "helios.views.castvote_shortcut" vote_tinyhash=voter.vote_tinyhash %}">نمایش</a>]</span>{% else %}&mdash;{% endif %}</tt></td>
</tr>
{% endfor %}
</table>

{% else %}
<br /><br />
<em>هیچ رای‌دهنده‌ای وجود ندارد.</em>
{% endif %}

{% endblock %}
