{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; جستجو رای‌دهندگان برای '{{search_term}}' <span style="font-size:0.7em;">[<a href="{% url "helios.views.one_election_view" election.uuid %}">بازگشت به انتخابات</a>]</span></h2>

{% if voter %}
رای‌دهنده یافت شد: {{voter.name}} ({{voter.voter_id}})<br /><br />
{% if election.frozen_at %}
<a href="{% url "helios.views.voters_email" election.uuid %}?voter_id={{voter.voter_id}}">ارسال ایمیل به رای‌دهنده</a>
{% else %}
زمانی که این انتخابات فریز شد، شما این امکان ارسال ایمیل را خواهید داشت.
{% endif %}
{% else %}
<em>چنین رای‌دهنده‌ای یافت نشد.</em>
{% endif %}

{% endblock %}
